body{
    padding:100px;
}
.submit-area{
    padding: 40px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
} 

#transaction-option{
    display: none;
}
.status{
    margin: 0 25px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-style: italic;
}
.deposit{
    background-color:seagreen;
}
.withdraw{
    background-color: salmon;
}
.balance{
    background-color: slateblue;
}
